/*!
 * Sourcing for Good
 * by Sam Smith
 * To be used on top of Bootstrap
 */
/* Styling */
/* ======= */
body {
  color: #555;
}
.hr15 {
	margin-bottom:15px;
	margin-top:15px;
}
.inline {
	display:inline;
}
.vertical-align {
  vertical-align: middle;
}
.btn { 
	font-size:14px;
}
.btn-lg { 
	padding: 19px 25px;
	font-size: 26px !important;

}

.homepage_jumbo {
padding: 10px !important;

}

#tutorial_div {
	position: relative;
	top: 141px;
	left: 490px;
	top: 0px;
	left: 0px;

}
#docs a.btn-info {
	height:36px;
}
#tutorial_div a{
	text-decoration:underline;
	font-size: 12px;
	line-height: 20px;
}
/* APPLICATION PRESENTER */
#answer .btn {
	margin-right:10px;
	margin-top:10px;
}
#answer .btn:hover {
	border:1px solid #158cba;
}

#tutorial_div .btn {
	background-color: #158cba !important;
	border-color: #127ba3 !important;
}

.help_popup_a {
text-decoration:underline !important;
}
.help_popup_description a {
	color:#fff !important;
	text-decoration:underline !important;
}
/* Start of Help Popup Modular CSS*/
.help_popup {
	font-size:18px;
	font-weight:bold;
	color:#28b62c;
}
.help_popup_description {
	display:none;
	font-weight:normal;
	/*position:absolute;*/
	z-index:1000;
	border:2px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 15px;
	margin-bottom:5px;
	background-color: #28b62c;
	border-color: #24a528;
	color: #ffffff;
}
/* End of Help Popup Modular CSS*/
/* Body Layout */
.answer_yes_popup, .answer_no_popup, .answer_unknown_popup {
	display:none;
}
.answer_popup {
margin-top:5px;
margin-bottom:5px;
}
#photo-link img {
padding: 2px;
line-height: 1.42857143;
background-color: #ffffff;
border: 1px solid #eeeeee;
border-radius: 4px;

display: inline-block;
max-width: 100%;



}
#photo-link.zoomed img {
padding: 2px;
line-height: 1.42857143;
background-color: #ffffff;
border: 1px solid #eeeeee;
border-radius: 4px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
display: inline-block;
max-width: 100%;
width:100%;
height: auto;

}
#survey_question_container_1 {
	width:100%;
	height:100%;
	position:absolute;
	z-index:1000;
	background:#000;
	opacity:0.6;
	display:none;
	top:0;
	left:0;
	
}
#survey_question_1 {
	width:400px;
	height:100px;
	border:1px solid black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position:absolute;
	background:#fff;
	top:50%;
	left:50%;
	display:none;
	margin-left:-200px;
	margin-top:-50px;
	z-index:1001;

}

img.pull-left{
margin-right:15px;
}

.carousel-control span:hover,
.carousel-control span{
	color:black;

	line-height:72px;
}
.str_number {
	display:inline-block;
	font-size:26px;
	width:40px;
	color:#75caeb;
	line-height:33px;
	height:40px;
	margin-top:15px;
	border:3px solid #75caeb;
	-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
}
#carousel-home .carousel-inner .item div p{
	display: table-cell;
	vertical-align: middle;
}
#carousel-home .carousel-inner .item div {
	display: table;
	height:100%;
}
#carousel-home .carousel-inner .item{
	height:72px;
}
#carousel-home .carousel-control.right,#carousel-home .carousel-control.left {
	background:transparent;
	background-image:none;
}
.panel-heading a h3 {
	text-decoration:none;
	color:#333333;
	font-size:18px;
}
.panel-heading a h3 i{
	font-size:12px;
	line-height:16px;
}
.panel-heading a:hover {
	color:#333333;
}
.nav > li > a:focus {
  text-decoration: none;
  /*background-color: #f8f8f8;*/
}
.panel-body-homepage {
	padding:0px;
	border-top:2px solid #f8f8f8;
	border-bottom:2px solid #f8f8f8;
	border:2px solid #ffffff;
}
.a_cat_homepage {
	display:block;
	width:100%;
	height:180px;
}

footer .container .row div a {
	line-height:130px;
}
body > footer .container .row div {
	padding-top: 0px;
	padding-bottom: 0px;
  
}

.panel {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pagination  li.active  a {
	text-decoration:underline;
}
.panel-body  .container_btn  {
	height:36px;
}
.active .badge {
	color: #158cba;
	background-color: #ffffff;
}
.panel-body .btn {
	width:39px;
	height:36px;
}
/* Applications Layout */

.thumbnails {
  margin-left: -20px;
  padding-left:0px;
  list-style: none;
  *zoom: 1;
}
.thumbnails:before,
.thumbnails:after {

  content: "";
  line-height: 0;
}
.thumbnails:after {
  clear: both;
}
.row .thumbnails,
.row-fluid .thumbnails {
  margin-left: 0;
}


#fake_o_overall_progress {
	padding-right:0px;
	padding-left:0px;
	width:27px;
	margin-top:18px;
}
.progress_text {
	font-size:18px;
}
#row_overall_progress  h2 {
	margin-top:3px;
	margin-bottom:0px;
	line-height:40px;
	font-size:33px;
}
/* Projects Layout */
.well h1,.well h2,.well h3,.well h14,.well h5 {
	margin-top:0px;
}
#sidebar.affix {
	top:100px;

}

.hideoverflow_text {
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.panel-footer .hideoverflow_text {
	margin-top:0px;
	margin-bottom:0px;
	line-height:20px;
}

.homepage_progetti_div ,
.homepage_progetti_div .panel {
	height:100%;
}

.panel-body .btn-group a  {
	display:inline-block;

	margin-right:-3px;
	letter-spacing: 0px;
	font-size: 0;
}
.panel-body .btn-group a .btn {
	float:none;

}
@media (max-width: 767px) {
	#sidebar.affix {
		position: static;
	  width: auto;
	  top: 0;

	}
	ul.affix {
		position: static;
	  width: auto;
	  top: 0;
	list-style:none;
	}
	ul.affix li {
		display:block;
		float:left;

	}
}
/* Alert Layout */
.alert {
	margin-bottom:15px;
	font-size:15px;
}
.alert h1,.alert h2,.alert h3,.alert h4,.alert h5,.alert h6 {
	color:#ffffff;
}
.alert  a {
	
	text-decoration:none;
}
.alert  abbr {
	border-color:#ffffff;
}

/* Navbar Layout */

.navbar-brand {
float: left;
padding: 0px 15px 0px 15px;
font-size: 18px;
line-height: 20px;
height: 20px;
}
.navbar-header {
	height:85px;
}
.navbar-nav li a#profile {

	padding-top:5px;
}

.navbar {
  min-height: 91px;
  margin-bottom:0px;
  }
#navbar-main {
	margin-top:24px;
}
/* Layout */
/* ====== */
html {
  overflow-x: hidden;
}
body {
  padding-top: 105px;
  /* Allow for Header */

  font-size: 13pt;
}



.navbar-fixed-top .navbar-inner,
.navbar-inner {

  filter: none;
  border: 1px solid red;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}

.navbar .nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;

}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {


}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
 /* background-color: #add56c;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFF;*/
}
.nav .dropdown-toggle .caret,
.nav .dropdown-toggle:hover .caret {
  /*border-bottom-color: #FFF;
  border-top-color: #FFF;*/
}
.dropdown-menu {
	top:54px;
}
.navbar .nav > li > a .icon {
  font-size: 22px;
  vertical-align: top;
}
.navbar .btn-navbar {
  background-color: #8bbf36;
  background-image: none;
  filter: none;
  border-color: #516f20 #516f20 #6e972b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #a2d058;
}
.navbar .btn-navbar .icon-bar {
  background-color: #6e972b;
}

.banner {
  background-color: #f7f7f7;
  position: relative;
  margin-bottom: 15px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  margin-left: -10px;
}
.banner:before,
.banner:after {
  content: "";
  position: absolute;
  background-color: #f7f7f7;
  top: 0;
  bottom: 0;
  width: 9999px;
}
.banner:before {
  right: 100%;
  border-right: solid 10px #FFF;
}
.banner:after {
  left: 100%;
  border-left: solid 10px #FFF;
}


section.grey {
  position: relative;
}
section.grey,
section.grey:before,
section.grey:after {
  background-color: #eeeeee;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
}
section.grey:before,
section.grey:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 9999px;
}
section.grey:before {
  right: 100%;
}
section.grey:after {
  left: 100%;
}
.box {
  background-color: #FFF;
  border: 1px solid #d9d9d9;
}
.app.box {
  padding: 5px;
  min-height: 138px;
  margin-bottom: 15px;
}
.app.box .image {
  display: block;
  max-width: 208px;
  width: 100%;
  height: 138px;
  background-image: url(../img/placeholder.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.app.box h3 {
  padding: 10px 5px 2px 5px;
  margin: 0px;
}
.app.box p {
  padding-left: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.app.box .btn {
  margin: 0px 4px 0px 0px;
}
body > footer,
html {
  background-color: #f5f5f5;
}
body > footer {
  border-top: 1px solid #e7e7e7;
}

/* Home Page */
/* ========= */
.banner > .row .span4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner > .row .span4 > * {
  padding-left: 10px;
}
.banner .featured {
  margin: -6px 0px 0px 0px;
  border-left: solid 2px #FFF;
  height: 309px;
  overflow: hidden;
}
.banner .featured li {
  display: block;
  float: left;
  width: 103px;
  height: 103px;
  background-color: #FFF;
  background-image: url(../img/placeholder.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 97px 97px;
}
.banner .featured li a {
  display: block;
  margin: 6px 0px 0px 6px;
  text-decoration: none;
}
.banner .featured li a h3 {
  margin: 2px 6px 0px 6px;
  color: #333333;
  font-size: 12px;
}
.banner .featured li a .label {
  margin: 6px;
  display: inline-block;
}
.banner .featured li a:hover {
  position: absolute;
  margin: -2px 0px 0px -2px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
  background-color: #FFF;
  width: 112px;
  z-index: 2;
}
.banner .featured li a:hover img {
  border: solid 6px #FFF;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  width: 100px;
}
.banner .featured li img {
    min-width: 100px;
    min-height: 100px;
}
.get-started .span4 p:first-of-type {
  margin-top: -10px;
}
.get-started .span8 .btn {
  margin: 18px 0px 18px 10px;
}
ul.users {
  margin: 0px 0px 10px -3px;
  height: 128px;
  overflow: hidden;
}
ul.users li {
  display: inline-block;
  margin: 0px 0px 5px 3px;
}
ul.users li a {
  display: block;
  border: solid 4px #FFF;
  margin-bottom: 5px;
}

/* Cookies banner */

#cookies_warning {
    position: fixed;
    color: rgb(221, 221, 221);
    min-height: 30px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 99999;
    padding: 6px 20px 4px;
    background-color: rgba(70, 70, 70, 0.9);
    text-align: left;
}

#cookies_warning > p {
    margin-top: 8px;
}


