    <div class="row">
        <div class="col-sm-12">
            <h1>{{ _('About') }}</h1>
         <p><strong>The GeoTag-X pilot project</strong> will teach volunteers to perform in-depth analyses of the media (photos, video, and audio) coming out of a disaster. </p>
<p>Disaster response efforts have to analyse massive amounts of data that are produced during a crisis, an overwhelmingly difficult task. Crowd-sourcing has already been used during different events to help filter, categorise, and map this data, and has proved to be an invaluable resource.</p>
</div>
 <div class="col-sm-12">
<p>

We want to teach you, our volunteers, to recognise the important information in a photo and create relevant, structured datasets that can be used by those working on the ground in the response.<br>
Disasters could include earthquakes, floods, and hurricanes, along with more slow moving events such as drought, climate change, and pollution. Analyses therefore could cover topics as diverse as environmental conditions, health, agriculture, and engineering. <br>
<br><strong>How do I get started?</strong><br>
There are two ways you can volunteer for Geotag-X<br>
1) <a href="{{url_for('find_photos')}}">Find Photos</a> <br>
2) <a href="{{url_for('analyse_photos')}}">Analyse Photos</a>  <br>
<br><strong>More about Geotag-X</strong><br>
Geotag-X is developed by the <a  target="_blank" href="www.unitar.org/unosat">United Nations Institute for Training and Research’s Operational Satellite Applications Programme (UNITAR/UNOSAT)</a> and is part of the <a  target="_blank" href="http://citizencyberlab.eu/">Citizen Cyberlab</a> project.<br>
Geotag-X is powered by <a  target="_blank" href=" http://docs.pybossa.com"> Pybossa </a>, an open source platform for crowd-sourcing tasks


</p>
        </div>
    </div>
