    <div class="row">
        <div class="col-sm-12">
            <h1>{{ _('Analyse Photos') }}</h1>
         <p>Help us extract information from the photos being collected by contributing to the different applications on Geotag-X</p>
<p><strong>It's easy...</strong></p>
</div>
 <div class="col-sm-12">
<p>
<strong>Step 1)</strong> On the homepage choose the project you want to work on.<br>
<strong>Step 2)</strong> On the project page, select the application you like and get started!<br>


<strong>If you are not sure what you are doing…</strong> Start with the application’s tutorial. And don’t worry if you are not sure about your answers, each photo is presented to at least 30 people and we take the majority answer, so it is ok to make mistakes.<br>
<strong>There are lots of resources available on the internet </strong>to help you answer the questions. There is no time limit on the applications so you can take time to search for clarification if you are not sure what you are looking at.<br>

<br><strong>What now?</strong><br>
<a href="{{ url_for('home') }}">Pick a project on the homepage</a> – or – <a href="{{ url_for('find_photos')}}">Find photos</a>
</p>
        </div>
    </div>
