    <div class="row">
        <div class="col-sm-12">
            <h1>{{ _('Find Photos') }}</h1>
         <p>Without photos, the applications on this website are not going to give us much information<br>
		 <strong>We need your help</strong> to find photos for the different projects that are currently on the website.</p>
<p><strong>Finding photos is easy.</strong> All you need is an internet connection and the latest version of firefox</p>
</div>
 <div class="col-sm-12">
<p>
<strong>Step 1)</strong> <a href="{{url_for('static', filename='plugin/geotag-x.xpi')}}">Download</a> and install the Geotag-X plugin for firefox <br>
<strong>Step 2)</strong> Choose which project you want to work on from the list<br>
<strong>Step 3)</strong> Start browsing for photos!<br><br>

If you land on a page relevant to the project you are working on, a pop-up window will appear asking if you want to send the images to Geotag-X.<br>
If you think they are relevant, send them! Don’t worry if you make some mistakes, we can deal with filtering later on in the Geotag-X applications.<br>
<br>
<strong>What photos should I be sending?</strong> We are interested in any photos showing the area and time period relevant to the project. Even if you think they may not contain much useful information send them in because each project contains several different analyses on different themes and a photo that's not relevant in one application might be relevant to a different one. Even if they don't check the boxes for the questions in the applications send them in - <strong>no data can still be useful information!</strong>
<br>
<br><strong>What now?</strong><br>
<a href="{{url_for('static', filename='plugin/geotag-x.xpi')}}">Download the plugin</a> – or – <a href="{{ url_for('analyse_photos')}}">Analyse photos</a>
</p>
        </div>
    </div>
