    <div class="row">
        <div class="col-sm-12">
            <h1>{{ _('Find Photos') }}</h1>
         Without photos, the applications on this website are not going to give us much information<br><br>
		 <strong>We need your help</strong> to find photos for the different projects that are currently on the website.<br><br>
To help you do this we are working on an add-on for firefox that will allow you to send photos directly to our server while you are browsing the web<br><br>

<strong>In the meantime...</strong><br>
If you find <strong>Flickr albums</strong> containing relevant photos send them to us via the comments box below and we will load them in for analysis.<br><br>

 <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'geotagx'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

        </div>
    </div>
