	<div class="container">
		<div class="row">
			<div class="col-sm-1 text-center">
				
			</div>
			<div class="col-sm-2 text-center">
				<a href="http://citizencyberlab.eu/" target="_blank"><img class="img-thumbnail" src="{{url_for('static', filename='img/footer/CCLlogo.jpg')}}"></a>
			</div>
			<div class="col-sm-2 text-center">
				<a ><img class="img-thumbnail" src="{{url_for('static', filename='img/footer/FP7-logo coulor.jpg')}}"></a>
			</div>
			<div class="col-sm-2 text-center">
				<a href="http://www.unitar.org/unosat/" target="_blank"><img class="img-thumbnail" src="{{url_for('static', filename='img/footer/logo_unitar.png')}}"></a>
			</div>
			<div class="col-sm-2 text-center">
				<a href="http://www.pybossa.com/" target="_blank"><img class="img-thumbnail" src="http://pybossa.com/assets/img/pybossa_badge_light_small.png"></a>
			</div>
			<div class="col-sm-2 text-center">
				<a href="http://www.citizencyberscience.net/" target="_blank"><img class="img-thumbnail" src="{{url_for('static', filename='img/footer/image_gallery.jpg')}}"></a>
			</div>
						<div class="col-sm-1 text-center">
				
			</div>
		</div>
	</div>
	  
	  
	  
	 