<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if brand == title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title | safe}}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles @FC -->
	
	<!--<link href="{{url_for('static', filename='vendor/bootstrap_default_221.css')}}" rel="stylesheet" type="text/css">-->
    <link href="{{url_for('static', filename='vendor/bootstrap_default.css')}}" rel="stylesheet" type="text/css">

	<!-- Le new Bootstrap Style @FC -->
    <link href="{{url_for('static', filename='vendor/bootstrap_theme.css')}}" rel="stylesheet" type="text/css">
    
    <link href="{{url_for('static', filename='css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/fonts/stylesheet.css')}}" rel="stylesheet">
	<!-- Le new Style.css @FC -->
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='vendor/social-buttons.css')}}" rel="stylesheet" type="text/css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- Le javascript -->
    <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery.cookie.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/3.1.0/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/modernizr.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/jquery.zoom.js')}}"></script>

    <!-- Google Analytics or similar solutions -->
    {% include '_ga.html' ignore missing %}
    <!-- Google Custom Search -->
    {% include '_gcs.html' ignore missing %}
  </head>

  <body>
	 {% if not current_user.is_anonymous() %}
		<div id="survey_question_container_1">
		</div>
		<div id="survey_question_1">
			<div style="text-align:center;font-size:20px;">Would you like to spend a minute to help us?<br>Take this survey by filling in the form!</div>
			<div style="text-align:center;font-size:18px;"><a target="_blank" href="http://unosat-survey.web.cern.ch/unosat-survey/survey/index.php/751138/lang-en">Click here!</a></div>
		</div>

    <!-- checkpoint::logged-in::{{current_user.name}} -->
	<input type="hidden" id="userID" value="{{current_user.id}}">
    {% endif %}


    {% set active_page = active_page | default('index') -%}
    {% set active_app  = active_app | default('none') -%}
    {% include "_navbar.html" %}

    <div class="container" style="min-height:400px;">
<!--
	{% if survey_one %}
	<h1>Your Background and Motivations</h1>
		<div class="row" style="height:100%;">
		<iframe  class="col-xs-12" style="height:100%;" seamless="seamless" src="http://unosat-survey.web.cern.ch/unosat-survey/survey/index.php/374988/lang-en"></iframe>
		</div>
	{% elif survey_two %}
	<h1>What do you know?</h1>
		<div class="row" style="height:100%;">
		<iframe  class="col-xs-12" style="height:100%;" seamless="seamless" src="http://unosat-survey.web.cern.ch/unosat-survey/survey/index.php/516331/lang-en"></iframe>
		</div>
	{% elif survey_three %}
	<h1>What do you know?</h1>
		<div class="row" style="height:100%;">
		<iframe  class="col-xs-12" style="height:100%;" seamless="seamless" src="http://unosat-survey.web.cern.ch/unosat-survey/survey/index.php/516331/lang-en"></iframe>
		</div>
	{% else %}-->
		{% include "_flash_messages.html" %}

		{% block content %}{% endblock %}
	<!-- {% endif %} -->
    </div> <!-- /container -->
	
    {% if show_cookies_warning %}
    <div id="cookies_warning">
        <p>Cookies help us deliver our services. By using our services, you agree to our use of cookies. <button class="btn btn-mini btn-success" onclick="accept_cookies()"><i class="icon-thumbs-up"></i> OK</button> <a class="btn btn-mini" href="{{url_for('help.cookies_policy')}}"><i class="icon-info-sign"></i> More info</a></p>
    </div>
    {% endif %}
	
    <footer>
	<!--{% include ['custom/_footer.html', '_footer.html'] ignore missing %}-->
	<div class="container">
		<div class="row">
			<div class="col-sm-1 text-center">
				
			</div>
			<div class="col-sm-2 text-center">
				<a target="_blank" href="http://citizencyberlab.eu/" target="_blank"><img class="img-thumbnail" src="{{url_for('static', filename='img/footer/CCLlogo.jpg')}}"></a>
			</div>
			<div class="col-sm-2 text-center">
				<a target="_blank" href="http://cordis.europa.eu/fp7/home_en.html"><img class="img-thumbnail" src="{{url_for('static', filename='img/footer/FP7-logo coulor.jpg')}}"></a>
			</div>
			<div class="col-sm-2 text-center">
				<a target="_blank" href="http://www.unitar.org/unosat/" target="_blank"><img class="img-thumbnail" src="{{url_for('static', filename='img/footer/logo_unitar.png')}}"></a>
			</div>
			<div class="col-sm-2 text-center">
				<a target="_blank" href="http://www.pybossa.com/" target="_blank"><img class="img-thumbnail" src="http://pybossa.com/assets/img/pybossa_badge_light_small.png"></a>
			</div>
			<div class="col-sm-2 text-center">
				<a target="_blank" href="http://www.citizencyberscience.net/" target="_blank"><img class="img-thumbnail" src="{{url_for('static', filename='img/footer/image_gallery.jpg')}}"></a>
			</div>
						<div class="col-sm-1 text-center">
				
			</div>
		</div>
	</div>
    {% if not enforce_privacy %}
    <div id="footer_links">
        <div class="row" style="margin-left:auto; margin-right: auto; width: 70%">
            <div class="col-sm-3">
                <ul style="list-style-type:none">
                    <li><strong>{{ _('Resources') }}</strong></li>
                    <li><i class="icon-link"></i> <a target="_blank" href="http://docs.pybossa.com">{{ _('Docs') }}</a></li>
                    <li><i class="icon-link"></i> <a href="{{url_for('help.api')}}">API</a></li>
                    <li><i class="icon-link"></i> <a href="{{url_for('help.tos')}}">{{ _('Terms of Use') }}</a></li>
                    <li><i class="icon-link"></i> <a href="{{url_for('help.cookies_policy')}}">{{ _('Privacy') }}</a></li>
                    <li><i class="icon-link"></i> <a href="{{url_for('stats.index')}}">{{ _('Stats') }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul style="list-style-type:none">
                    <li><strong>{{ _('Licenses') }}</strong></li>
                    <li><i class="icon-link"></i> <a href="{{url_for('help.license')}}">{{ _('Overview') }}</a></li>
                    <li><i class="icon-link"></i> <a href="{{url_for('help.license', _anchor='applications')}}">{{ _('Applications') }}</a></li>
                    <li><i class="icon-link"></i> <a href="{{url_for('help.license', _anchor='data')}}">{{ _('Data') }}</a></li>
                    <li><i class="icon-link"></i> <a href="{{url_for('help.license', _anchor='content')}}">{{ _('Content') }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul style="list-style-type:none">
                    <li><strong>{{ _('Technologies') }}</strong></li>
                    <li><i class="icon-link"></i> <a target="_blank" href="http://ckan.org">{{ _('CKAN') }}</a></li>
                    <li><i class="icon-link"></i> <a target="_blank" href="http://www.epicollect.net">{{ _('EpiCollect') }}</a></li>
					<li><i class="icon-link"></i> <a target="_blank" href="http://pybossa.com">{{ _('PyBossa') }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul style="list-style-type:none">
                    <li><strong>{{ _('Contact') }}</strong></li>
                    <li><i class="icon-envelope"></i> <a href="mailto:unosat@unitar.org">{{ _('Email') }}</a></li>
                    <li><i class="icon-twitter"></i> <a target="_blank" href="http://twitter.com/unosat">{{ _('Twitter') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
	
    <!--{% include ['custom/_footer.html', '_footer.html'] ignore missing %}-->
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- Old Google Analytics code
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-48147287-1', 'geotagx.org');
  ga('send', 'pageview');
 
</script>
-->
    <script>
    {% include 'cookies.js' %}
    </script>
	{% if survey %}
	<!--<script>
    $( document ).ready(function() {
		var cookieValue = $.cookie("survey_1_test");
		if(typeof cookieValue === "undefined")
			{
				$("#survey_question_container_1").css("display","block");
				$("#survey_question_1").css("display","block");
				$.cookie("survey_1_test","done");
			}
		else
			{}
			
		$("#survey_question_container_1").click(function(){
			$("#survey_question_container_1").css("display","none");
			$("#survey_question_1").css("display","none");
		});
		$("#survey_question_1").click(function(){
			
			$("#survey_question_container_1").css("display","none");
			$("#survey_question_1").css("display","none");
		});
	});
    </script>-->
	 {% endif %}
  </body>
</html>
